DATABASE_URL="mongodb+srv://plataforma_cursos_db_user:G5UGJgJDPNYeHpQV@cluster0.wi0woaa.mongodb.net/linkdecadastro?retryWrites=true&w=majority"

#JWT_SECRET="um-segredo-bem-forte-aqui"

FRONTEND_URL="http://localhost:3000"

JWT_SECRET="seu-jwt-secret-super-seguro-aqui-altere-em-producao"



# GOOGLE_CLIENT_ID="inserir-google-client-id-aqui"
# GOOGLE_CLIENT_SECRET="inserir-google-client-secret-aqui"
# GOOGLE_CALLBACK_URL="http://localhost:3333/auth/google/callback"

OPENROUTER_API_KEY="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"
